html, body, #root{
  height: 100%;
  margin: 0;
  background-color: hsl(203 13% 13%);
}

#root{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  transform: translateY(50px);
}

/* Reset */

ul, li {
  padding: 0;
  margin: 0;
}

/* end of reset */

/* main container ! */
.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(200px);
  position: relative;
  z-index: 0;
  overflow-y: auto;
  gap: 1.5rem;
   & >.cards{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 0px white;
    border: 2px solid white;
    padding: 0.5rem;
    height: max-content;
    width: 165px;
    background-color: hsl(0, 0%, 46%);
      & >.card-title{
        display: flex;
        flex-grow: 1;
        font-size: 24px;
        margin: 0;
        border-bottom: 3px solid hsl(203 13% 13%);
        color: hsl(183 18% 94%);
      }
      & >.item-section{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        & >.ul-style{
          display: flex;
          flex-direction: column;
          padding-bottom: 0.5rem;
          gap: 0.5rem;
            & >.li-container{
              display: flex;
              justify-content: space-between;
              padding: 0rem 0rem 0rem 0.5rem;
              border: 3px solid black;
              border-radius: 5px;
              background-color: white;
                & > .li-style{
                  width: 90%; 
                   & > .input-style{
                    outline: none;
                    width: inherit;
                    border: none;
                   }
                }
                & >.icon-container{
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;
                    &:nth-child(2){
                      padding-right: 0.1rem;}

                    & >.delete-item-button{
                      border-radius: 5px;
                      width: 15px;
                      height: 15px;
                      align-self: center;
                    }
          }
        }
      }
    }
  }
}

/* Footer */
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  height: 150px;
  background-color: blue;
    >.footer-object{
      height: fit-content;
      width: 45%;
      background-color: red;
   }
}

.form-container{
  padding: 2.5rem 0rem 2.5rem 0;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 1;
  & >.form{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    color: white;
    & > label{
      font-weight: bold;
      align-self: center;
      font-size: 24px;
    }
    & > input{
      align-self: center;
      width: 25%;
    }
    & > button{
      border: 3px solid black;
      border-radius: 5px;
      box-shadow: -2px 2px 0px black;
      background-color: white;
      font-weight: bold;
      align-self: center;
      width: 10%;
    }
  }
}


.button-container{
  display: flex;
  gap: 0.5rem;
    >.delete-button-style{
      border-style: none;
      color: white;
      width: 50%;
      border: 3px solid black;
      background: #e05a5a;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: -2px 2px 0 #000;
     }
    >.add-button-style{
      width: 50%;
      border: 3px solid black;
      border-radius: 5px;
      box-shadow: -2px 2px 0px black;
      font-weight: bold;
      background-color: white;
    }
}
