#menu{
  position: fixed;
  z-index: 1;
  width: -webkit-fill-available;
}

.titlebar {
    height: 30px;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    width: -webkit-fill-available;
  }
  .titlebar-button {
    & >.close-app-svg, .minimize-app-svg{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
  }


::-webkit-scrollbar {
    display: none;
  }